

{% block content %}
    <form action="/ds_three" method="post">
    {%csrf_token%}
    <label for="">Upload Csv File</label><br>
    <input type="file" name="csv" id="csv" placeholder="Submit your file here">
    <button type="submit"> Submit</button>
    </form>  <br>
    
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="nav-item">
      <a href="/secure">List of Blocks</a>
      </li> <br>
    
<br>
{{ chart_line|safe }} <br>



{% endblock content %}